/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --cor-primaria: #f49b56;
    --cor-secundaria: #f0823e;
}


/* Corpo da Página */
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card de Perfil */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px var(--cor-secundaria);
    text-align: center;
    width: 20rem;
}

.photo {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    box-shadow: 2px 2px 5px gray;
}

.name a {
    color: var(--cor-primaria);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.5s;
    text-underline-offset: 6px;
}

.name a:hover {
    text-decoration: underline;
    color: var(--cor-secundaria);
}

.name {
    padding-block: 0.5rem 1rem;
}

.social-links {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.social-links img {
    width: 2rem;
    transition: 0.5s;
}

.social-links img:hover {
    transform: scale(1.20);
}

hr {
    margin-block: 1rem;
    border: none;
    border-top: 1px solid var(--cor-secundaria);
}

.functions {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 8px;
}

.functions a {
    background-color: var(--cor-primaria);
    padding-block: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    color: #f4f4f4;
    font-weight: bold;
}

.functions a:hover {
    background-color: var(--cor-secundaria);
    box-shadow: 2px 2px 5px var(--cor-primaria);
}

/* calculadora */
#expressao {
    outline: none;
    border: 1px solid var(--cor-primaria);
    font-size: 1.5rem;
    text-align: center;
    padding-block: 4px;
    color: var(--cor-secundaria);
    font-weight: bold;
}

#expressao::placeholder {
    font-weight: 100;
}

.functions #limpar {
    display: none;
}


/* Responsividade */
@media (max-width: 600px) {
    .card {
        width: 100%;
    }

    .container-apostas {
        width: 100%;

    }
}

/*
    Sena
*/
.container-apostas {
    /* dimensões */
    width: 20rem;
    height: 360px;

    background-color: white;
    box-shadow: 0px 0px 10px var(--cor-primaria);
    border-radius: 6px;

    display: flex;
    flex-direction: column;

    /* margens */
    padding: 1rem;
}

section span {
    font-size: 20px;
    text-align: center;
}

section input {
    /* fonte */
    font-size: 1.5rem;
    text-align: center;

    /* margens */
    padding-block: 4px;
    margin-block: 1rem;
    margin-inline: auto;

    /* dimensões */
    width: 95%;

    /* bordas */
    border: 1px solid var(--cor-primaria);
    border-radius: 4px;
    outline: none;
}

section input:focus {
    box-shadow: 0px 0px 4px var(--cor-secundaria);
}

section button {
    /* dimensões */
    width: 95%;

    /* fonte */
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;

    /* margens */
    padding-block: 6px;
    margin-inline: auto;
    margin-bottom: 8px;

    /* bordas */
    border: none;
    border-radius: 4px;
    outline: none;

    background-color: var(--cor-primaria);
    color: #222;

    /* animação */
    transition: all 0.8s;
}

section button:hover {
    background-color: var(--cor-secundaria);
    box-shadow: 0px 0px 10px var(--cor-secundaria);
    cursor: pointer;
}

section ul {
    list-style: none;
    text-align: center;
    overflow-y: auto;
}

section ul::-webkit-scrollbar {
    width: 10px;
}

section ul::-webkit-scrollbar-track {
    /* barra de rolagem */
    background: #888;
    border-radius: 20px;
}

section ul::-webkit-scrollbar-thumb {
    /* guia da barra de rolagem */
    background-color: var(--cor-primaria);
    border-radius: 20px;
}

section ul li {
    width: 95%;

    margin: auto;
    margin-block: 8px;
    padding-block: 6px;

    background-color: #888;
    color: #f4f4f4;

    font-weight: bolder;
    border-radius: 4px;
}

section ul li:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #f4f4f4;
}


section #btnLimpar {
    display: none;
}